<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365336777136-3i0p3urpst2i4s7ltuartmp1mpqsc675.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365336777136-3i0p3urpst2i4s7ltuartmp1mpqsc675</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>365336777136-2ngthbbniaqfsd7fr5kecvjjk9d2a516.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtlmNrK4jTX1gHzP-bHmrEJAwSTvKOI38</string>
	<key>GCM_SENDER_ID</key>
	<string>365336777136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rodrigues.financialcontroleeapp</string>
	<key>PROJECT_ID</key>
	<string>financial-controlee-app</string>
	<key>STORAGE_BUCKET</key>
	<string>financial-controlee-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365336777136:ios:7e8641d31ad1d4b3ef4675</string>
	<key>DATABASE_URL</key>
	<string>https://financial-controlee-app.firebaseio.com</string>
</dict>
</plist>